Repository thefrontside/bigtest, pull requests merged in 2020-12, with the labels that each got.

#710 Add about page
  website/docs/docusaurus.config.js
  website/docs/src/pages/about.mdx
Labels: documentation

#711 [interactor] focus action on all elements
  .changeset/friendly-chairs-pump.md
  packages/interactor/src/definitions/button.ts
  packages/interactor/src/definitions/check-box.ts
  packages/interactor/src/definitions/link.ts
  packages/interactor/src/definitions/multi-select.ts
  packages/interactor/src/definitions/radio-button.ts
  packages/interactor/src/definitions/select.ts
  packages/interactor/src/definitions/text-field.ts
  packages/interactor/src/focused.ts
  packages/interactor/src/index.ts
  packages/interactor/test/definitions/check-box.test.ts
  packages/interactor/test/definitions/link.test.ts
  packages/interactor/test/definitions/radio-button.test.ts
Labels: @bigtest/interactor

#712 [Atom] replace ramda lens with monocle-ts
  .changeset/six-flowers-smash.md
  README.md
  packages/atom/package.json
  packages/atom/src/atom.ts
  packages/atom/src/index.ts
  packages/atom/src/slice.ts
  packages/atom/src/sliceable.ts
  packages/atom/test-dts/index.d.ts
  packages/atom/test-dts/slice.test.ts
  packages/atom/test-dts/tsconfig.json
  packages/atom/test-dts/tslint.json
  packages/atom/test/atom.test.ts
  packages/atom/test/slice.test.ts
  packages/globals/test/globals.test.ts
  packages/interactor/package.json
  packages/server/src/app-server.ts
  packages/server/src/effection/restartable.ts
  packages/server/src/orchestrator.ts
  packages/server/src/orchestrator/atom.ts
  packages/server/src/orchestrator/state.ts
  packages/server/src/proxy.ts
  packages/server/src/result-aggregator/aggregator.ts
  packages/server/src/result-stream.ts
  packages/server/test/app-server.test.ts
  packages/server/test/command-server.test.ts
  packages/server/test/helpers.ts
  packages/server/test/orchestrator.test.ts
  packages/server/test/result-stream.test.ts
  packages/suite/package.json
  packages/webdriver/README.md
  packages/webdriver/src/web-driver.ts
  yarn.lock
Labels: @bigtest/atom

#728 readd @babel/preset-typescript to bundler
  .changeset/itchy-ladybugs-compete.md
  packages/bundler/package.json
  packages/bundler/src/bundler.ts
  yarn.lock
Labels: @bigtest/bundler
