Repository thefrontside/bigtest, pull requests merged in 2020-10, with the labels that each got.

#591 Migrate to new effection process API
  .changeset/fair-teachers-trade.md
  packages/cli/package.json
  packages/cli/test/cli.test.ts
  packages/cli/test/helpers/process.ts
  packages/cli/test/helpers/stream.ts
  packages/server/package.json
  packages/server/src/app-server.ts
  packages/server/test/orchestrator.test.ts
  packages/webdriver/package.json
  packages/webdriver/src/local.ts
  yarn.lock
Labels: @bigtest/cli, @bigtest/server, @bigtest/webdriver

#598 Improve interactor table formatting
  .changeset/nasty-news-fly.md
  packages/interactor/src/format-table.ts
  packages/interactor/test/create-interactor.test.ts
Labels: @bigtest/interactor

#645 Add `focused` filter for asserting on focus state
  .changeset/focused-filter.md
  packages/interactor/src/definitions/button.ts
  packages/interactor/src/definitions/check-box.ts
  packages/interactor/src/definitions/link.ts
  packages/interactor/src/definitions/radio-button.ts
  packages/interactor/src/definitions/text-field.ts
  packages/interactor/src/focused.ts
  packages/interactor/src/index.ts
  packages/interactor/test/definitions/button.test.ts
  packages/interactor/test/definitions/check-box.test.ts
  packages/interactor/test/definitions/link.test.ts
  packages/interactor/test/definitions/radio-button.test.ts
  packages/interactor/test/definitions/text-field.test.ts
Labels: @bigtest/interactor

#613 Don't raise gzip errors after the unzip stream is finished
  packages/server/src/proxy.ts
Labels: @bigtest/server
