Repository thefrontside/bigtest, pull requests merged in 2020-09, with the labels that each got.

#489 Better error message when matches are ambiguous
  .changeset/ambigous-errors.md
  packages/interactor/src/escape-html.ts
  packages/interactor/src/match.ts
  packages/interactor/src/resolve.ts
  packages/interactor/test/create-interactor.test.ts
Labels: @bigtest/interactor

#500 Stabilize yarn.lock file
  yarn.lock
Labels: chore

#511 Support nullary interactors
  .changeset/nullary-interactors.md
  packages/interactor/src/create-interactor.ts
  packages/interactor/src/interactor.ts
  packages/interactor/src/locator.ts
  packages/interactor/src/match.ts
  packages/interactor/src/specification.ts
  packages/interactor/test/create-interactor.test.ts
Labels: @bigtest/interactor, enhancement

#508 Interactor definitions
  .changeset/interactor-definitions.md
  packages/interactor/package.json
  packages/interactor/src/definitions/heading.ts
  packages/interactor/src/definitions/link.ts
  packages/interactor/src/index.ts
  packages/interactor/test/create-interactor.test.ts
  packages/interactor/test/definitions/heading.test.ts
  packages/interactor/test/definitions/link.test.ts
  packages/interactor/test/helpers.ts
Labels: @bigtest/interactor

#524 Update return type of Interactor#has to match Interactor#is
  .changeset/interactor-has-type.md
  packages/interactor/src/interactor.ts
Labels: @bigtest/interactor, 🐛bug

#528 Clear persistent storage
  .changeset/clear-persistent-storage.md
  packages/agent/app/clear-persistent-storage.ts
  packages/agent/app/harness.ts
  packages/agent/app/indexed-db-config.ts
  packages/agent/app/run-lane.ts
  packages/agent/package.json
  packages/agent/test/agent.test.ts
  packages/agent/test/fixtures/manifest.js
  yarn.lock
Labels: @bigtest/agent
