Repository thefrontside/bigtest, pull requests merged in 2021-02, with the labels that each got.

#795 Add HTML and FormField as base interactors
  .changeset/wicked-mirrors-beg.md
  packages/interactor/src/definitions/button.ts
  packages/interactor/src/definitions/check-box.ts
  packages/interactor/src/definitions/form-field.ts
  packages/interactor/src/definitions/heading.ts
  packages/interactor/src/definitions/html.ts
  packages/interactor/src/definitions/link.ts
  packages/interactor/src/definitions/multi-select.ts
  packages/interactor/src/definitions/radio-button.ts
  packages/interactor/src/definitions/select.ts
  packages/interactor/src/definitions/text-field.ts
  packages/interactor/src/index.ts
Labels: @bigtest/interactor

#782 Add `changeOrigin` flag to application proxy server
  .changeset/good-bobcats-share.md
  packages/server/src/proxy.ts
Labels: @bigtest/server

#774 Add warning for JSDOM caveat in Interactors docs
  website/docs/interactors/5-integrations.md
Labels: documentation

#787 Update cypress example in sample app
  sample/README.md
  sample/app/app-pkg.json
  sample/app/src/test/cypress.spec.js
  sample/app/yarn.lock
  sample/package.json
Labels: dependencies, integrations, sample-app

#851 Make scripts for sample app and integrations npm-friendly
  integrations/cypress/package.json
  sample/app/app-pkg.json
  sample/app/bigtest.json
  sample/package-lock.json
  sample/package.json
  sample/yarn.lock
Labels: chore

#858 Use innerText over textContent where appropriate
  .changeset/big-donkeys-eat.md
  packages/interactor/src/definitions/button.ts
  packages/interactor/src/definitions/form-field.ts
  packages/interactor/src/definitions/html.ts
  packages/interactor/test/create-interactor.test.ts
  packages/interactor/test/helpers.ts
  website/docs/interactors/3-locators-filters-actions.md
  website/docs/interactors/4-write-your-own.md
Labels: @bigtest/interactor

#863 Change format of filter not matching error
  .changeset/fresh-bears-boil.md
  packages/interactor/src/constructor.ts
  packages/interactor/src/match.ts
  packages/interactor/test/create-interactor.test.ts
  packages/interactor/test/extend.test.ts
  packages/interactor/test/matcher.test.ts
  packages/interactor/test/page.test.ts
Labels: @bigtest/interactor

#864 Track orchestrator status in state
  .changeset/tasty-cheetahs-shout.md
  packages/cli/src/start-server.ts
  packages/server/src/orchestrator.ts
  packages/server/src/orchestrator/atom.ts
  packages/server/src/orchestrator/state.ts
  packages/server/test/helpers.ts
Labels: @bigtest/server
